.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.env
.DS_Store
desktop.ini
.idea/
.vscode/*
!.vscode/settings.json
dist/
build/
.eggs/
*.egg-info/
alembic/__pycache__/
postgres-data/
redis-data/
data/
